<a href="https://colab.research.google.com/github/rmarest/rmarest/blob/main/Clasificacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Montando unidad de gdrive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

Importando fichero

In [ ]:
from google.colab import files
import io
uploaded = files.upload()

Saving Registros_Asisten_Webinar_Clasificador.csv to Registros_Asisten_Webinar_Clasificador.csv

Leyendo fichero

In [ ]:
import pandas as pd
df = pd.read_csv('Registros_Asisten_Webinar_Clasificador.csv', sep=';')
df.head()

   Unnamed: 0  ... tiempo_evento_y_compra
0           1  ...                    200
1           2  ...                    200
2           3  ...                    200
3           4  ...                    200
4           5  ...                    200

[5 rows x 19 columns]

Explorando fichero

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1832 entries, 0 to 1831
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1832 non-null   int64
 1   Email                   1832 non-null   object
 2   IP                      1832 non-null   object
 3   adquisicion             964 non-null    object
 4   Link                    1178 non-null   object
 5   Sesion                  1832 non-null   object
 6   FechaRegistro           1832 non-null   object
 7   SemanaMesRegistro       1832 non-null   int64
 8   FechaEvento             1832 non-null   object
 9   SemanaMesEvento         1832 non-null   int64
 10  AsisteEvento            1832 non-null   object
 11  SegundoEntrada          1832 non-null   int64
 12  SegundosDentro          1832 non-null   int64
 13  SegundoSalida           1832 non-null   int64
 14  PorcVisionado           1832 non-null   object
 15  VePitch                 1832 non-null   bool
 16  Compra                  1832 non-null   bool
 17  FechaCompra             1832 non-null   object
 18  tiempo_evento_y_compra  1832 non-null   int64
dtypes: bool(2), int64(7), object(10)
memory usage: 247.0+ KB

Borrando variables que no sirven

In [ ]:
df_util = df.drop(['Email','IP','FechaRegistro','FechaEvento','AsisteEvento','FechaCompra'], axis=1)

In [ ]:
df_util.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1832 entries, 0 to 1831
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1832 non-null   int64
 1   adquisicion             964 non-null    object
 2   Link                    1178 non-null   object
 3   Sesion                  1832 non-null   object
 4   SemanaMesRegistro       1832 non-null   int64
 5   SemanaMesEvento         1832 non-null   int64
 6   SegundoEntrada          1832 non-null   int64
 7   SegundosDentro          1832 non-null   int64
 8   SegundoSalida           1832 non-null   int64
 9   PorcVisionado           1832 non-null   object
 10  VePitch                 1832 non-null   bool
 11  Compra                  1832 non-null   bool
 12  tiempo_evento_y_compra  1832 non-null   int64
dtypes: bool(2), int64(7), object(4)
memory usage: 161.1+ KB

Cambiando tipo de las variables objeto

In [ ]:
pd.to_numeric(df["PorcVisionado"])

ValueError: ignored

Describiendo variables numéricas

In [ ]:
df_util.describe()

        Unnamed: 0  SemanaMesRegistro  ...  SegundoSalida  tiempo_evento_y_compra
count  1832.000000        1832.000000  ...    1832.000000             1832.000000
mean    916.500000           2.587336  ...    4780.848253              189.342249
std     528.997164           1.237946  ...    2135.863314               44.461905
min       1.000000           1.000000  ...       0.000000               -6.000000
25%     458.750000           1.000000  ...    3624.000000              200.000000
50%     916.500000           3.000000  ...    5585.000000              200.000000
75%    1374.250000           4.000000  ...    6604.000000              200.000000
max    1832.000000           5.000000  ...    7076.000000              200.000000

[8 rows x 7 columns]

Viendo columnas

In [ ]:
df.columns

Index(['Unnamed: 0', 'Email', 'IP', 'adquisicion', 'Link', 'Sesion',
       'FechaRegistro', 'SemanaMesRegistro', 'FechaEvento', 'SemanaMesEvento',
       'AsisteEvento', 'SegundoEntrada', 'SegundosDentro', 'SegundoSalida',
       'PorcVisionado', 'VePitch', 'Compra', 'FechaCompra',
       'tiempo_evento_y_compra'],
      dtype='object')

Explorando índices

In [ ]:
df.index

RangeIndex(start=0, stop=1832, step=1)

Distribución de la variable Compra:

In [ ]:
class_counts = df.groupby('Compra').size()
print(class_counts)

Compra
False    1731
True      101
dtype: int64

Separando variables cuantitativas de cualitativas

In [ ]:
import numpy as np

df_num = df.select_dtypes(include=np.number)
df_num.head()

   Unnamed: 0  SemanaMesRegistro  ...  SegundoSalida  tiempo_evento_y_compra
0           1                  1  ...           6904                     200
1           2                  1  ...           6639                     200
2           3                  1  ...           6704                     200
3           4                  1  ...           1327                     200
4           5                  1  ...           6639                     200

[5 rows x 7 columns]